<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kandz.me.shipenginehourslog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Engines"
            android:screenOrientation="portrait"
            android:label="@string/engines"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Maintance_routines"
            android:screenOrientation="portrait"
            android:label="@string/maintance_routines"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Hours"
            android:label="@string/add_hours"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LogActivity"
            android:screenOrientation="portrait"
            android:label="@string/engine_log"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EngineSummary"
            android:screenOrientation="portrait"
            android:label="@string/engine_summary"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>